<div class="row">
    <div class="col-xs-12 col-lg-offset-1 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Share Your Feedback With Us
            </div>
			<div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                        <form role="form" enctype="multipart/form-data">
                            <div class="form-group" type="">
                                <label>Name</label>
                                <input class="form-control" ng-model="name" placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" ng-model="description" rows="3">{{description}}</textarea>
                            </div>
                            <div class="form-group">
                                <label>File input</label>
                                <upload-button
                                      class="btn btn-primary btn-upload"
                                      multiple="true"
                                      accept="image/x-png,image/gif,image/jpeg"
                                      url="/upload"
                                      on-success="onGlobalSuccess(response)"
                                    >Fileupload</upload-button>
                            </div>
                            <div class="form-group">
                                <label>Perview:</label>
                                <span ng-repeat="upload in uploads track by $index">
                                    <img src="/public/{{upload}}" width="200px">
                                </span>
                                <input type="hidden" ng-model="fileupload">
                            </div>
                            
                            <button type="submit" ng-click="submitForm()" class="btn btn-default">Submit Button</button>
                            <button type="reset" ng-click="resetFields();" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                    
                </div>
            </div>
		</div>
	</div>
</div>